@model Aiursoft.UiStack.Views.Shared.Components.LanguagesDropdown.LanguagesDropdownViewModel

<li class="nav-item dropdown">
    <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
        <img src="@Model.SelectedLanguage.FlagUrl" alt="@Model.SelectedLanguage.Name"/>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
        @foreach (var lang in Model.Languages)
        {
            <a class="dropdown-item" href="@lang.Link">
                <img src="@lang.FlagUrl" alt="@lang.Name" width="20" class="align-middle me-1"/>
                <span class="align-middle">@lang.Name</span>
            </a>
        }
    </div>
</li>