@model Aiursoft.UiStack.Views.Shared.Components.UserDropdown.UserDropdownViewModel

<li class="nav-item dropdown">
    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
        <i class="align-middle" data-lucide="settings"></i>
    </a>

    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
        <img src="@Model.UserAvatarUrl" class="img-fluid rounded-circle me-1 mt-n2 mb-n2" alt="@Model.UserName" width="40" height="40"/> <span>@Model.UserName</span>
    </a>

    <div class="dropdown-menu dropdown-menu-end">
        @for (var i = 0; i < Model.IconLinkGroups.Length; i++)
        {
            var iconLinkGroup = Model.IconLinkGroups[i];
            foreach (var link in iconLinkGroup.Links)
            {
                <a class="dropdown-item" href="@link.Href"><i class="align-middle me-1" data-lucide="@link.Icon"></i> @link.Text</a>
            }
            
            if (i != Model.IconLinkGroups.Length - 1)
            {
                <div class="dropdown-divider"></div>
            }
        }
    </div>
</li>
