@model Aiursoft.UiStack.Views.Shared.Components.Navbar.NavbarViewModel

<nav class="navbar navbar-expand navbar-bg">

@* Hamberger button *@
<a class="sidebar-toggle">
    <i class="hamburger align-self-center"></i>
</a>

@* Search form *@
@if (Model.SearchForm != null)
{
    <vc:search-form model="@Model.SearchForm"></vc:search-form>
}

@* Mega Menu *@
@if (Model.MegaMenu != null)
{
    <vc:mega-menu model="@Model.MegaMenu"></vc:mega-menu>
}

<div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
        
        @* Messages dropdown *@
        @if (Model.MessagesDropdown != null)
        {
            <vc:messages-dropdown model="@Model.MessagesDropdown"></vc:messages-dropdown>
        }
        
        @* Notification dropdown *@
        @if (Model.NotificationsDropdown != null)
        {
            <vc:notifications-dropdown model="@Model.NotificationsDropdown"></vc:notifications-dropdown>
        }

        @* Theme toggle *@
        <li class="nav-item nav-theme-toggle dropdown">
            <a class="nav-icon js-theme-toggle" href="#">
                <div class="position-relative">
                    <i class="align-middle text-body nav-theme-toggle-light" data-lucide="sun"></i>
                    <i class="align-middle text-body nav-theme-toggle-dark" data-lucide="moon"></i>
                </div>
            </a>
        </li>

        @* Language dropdown *@
        @if (Model.LanguagesDropdown != null)
        {
            <vc:languages-dropdown model="@Model.LanguagesDropdown"></vc:languages-dropdown>
        }

        @* User dropdown *@
        @if (Model.UserDropdown != null)
        {
            <vc:user-dropdown model="@Model.UserDropdown"></vc:user-dropdown>
        }
    </ul>
</div>
</nav>