@model Aiursoft.UiStack.LayoutViewModel
<!DOCTYPE html>
<html lang="en"
      data-bs-theme="@Model.Theme.ToString().ToLower()"
      data-layout="@Model.Layout.ToString().ToLower()"
      data-sidebar-theme="@Model.SidebarTheme.ToString().ToLower()"
      data-sidebar-position="@Model.SidebarPosition.ToString().ToLower()"
      data-sidebar-behavior="@Model.SidebarBehavior.ToString().ToLower()">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@Model.Description">
    <title>@Model.PageTitle | @Model.AppName</title>
    @if (Model.CanonicalUrl != null)
    {
        <link rel="canonical" href="@Model.CanonicalUrl">
    }
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/node_modules/aiur-ui-stack/css/app.css" rel="stylesheet">
    @(await RenderSectionAsync("styles", required: false))
</head>

<body>
<div class="wrapper">
<nav id="sidebar" class="sidebar">
<div class="sidebar-content js-simplebar">
@* LOGO *@
<a class="sidebar-brand" href="index.html">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="20px" height="20px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
        <path d="M19.4,4.1l-9-4C10.1,0,9.9,0,9.6,0.1l-9,4C0.2,4.2,0,4.6,0,5s0.2,0.8,0.6,0.9l9,4C9.7,10,9.9,10,10,10s0.3,0,0.4-0.1l9-4
              C19.8,5.8,20,5.4,20,5S19.8,4.2,19.4,4.1z"/>
        <path d="M10,15c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,15,10.1,15,10,15z"/>
        <path d="M10,20c-0.1,0-0.3,0-0.4-0.1l-9-4c-0.5-0.2-0.7-0.8-0.5-1.3c0.2-0.5,0.8-0.7,1.3-0.5l8.6,3.8l8.6-3.8c0.5-0.2,1.1,0,1.3,0.5
              c0.2,0.5,0,1.1-0.5,1.3l-9,4C10.3,20,10.1,20,10,20z"/>
    </svg>
    <span class="align-middle me-3">@Model.AppName</span>
</a>

@* Left Navbar *@
<ul class="sidebar-nav">
<li class="sidebar-header">
    Navigation
</li>
<li class="sidebar-item">
    <a data-bs-target="#dashboards" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="sliders"></i> <span class="align-middle">Dashboards</span>
        <span class="badge badge-sidebar-primary">5</span>
    </a>
    <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard-default.html">Default</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard-analytics.html">Analytics</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard-saas.html">SaaS</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard-social.html">Social</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="dashboard-crypto.html">Crypto</a>
        </li>
    </ul>
</li>
<li class="sidebar-header">
    Apps
</li>
<li class="sidebar-item">
    <a data-bs-target="#ecommerce" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="shopping-bag"></i> <span class="align-middle">E-Commerce</span>
    </a>
    <ul id="ecommerce" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-products.html">
                Products <span class="badge badge-sidebar-primary">New</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-products-details.html">
                Product Details <span class="badge badge-sidebar-primary">New</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-orders.html">
                Orders <span class="badge badge-sidebar-primary">New</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-customers.html">Customers</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-invoice.html">Invoice</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ecommerce-pricing.html">Pricing</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#projects" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="layout"></i> <span class="align-middle">Projects</span>
    </a>
    <ul id="projects" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="projects-overview.html">Overview</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="projects-details.html">Details</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="chat.html">
        <i class="align-middle" data-lucide="list"></i> <span class="align-middle">Chat</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="file-manager.html">
        <i class="align-middle" data-lucide="files"></i> <span class="align-middle">File Manager</span>
        <span class="badge badge-sidebar-primary">New</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="calendar.html">
        <i class="align-middle" data-lucide="calendar"></i> <span class="align-middle">Calendar</span>
    </a>
</li>
<li class="sidebar-item">
    <a data-bs-target="#email" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="mail"></i> <span class="align-middle">Email</span>
        <span class="badge badge-sidebar-primary">New</span>
    </a>
    <ul id="email" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="email-inbox.html">Inbox</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="email-details.html">Details</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#tasks" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="trello"></i> <span class="align-middle">Tasks</span>
    </a>
    <ul id="tasks" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="tasks-list.html">
                List
                <span class="badge badge-sidebar-primary">New</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="tasks-kanban.html">Kanban</a>
        </li>
    </ul>
</li>
<li class="sidebar-header">
    Pages
</li>
<li class="sidebar-item active">
    <a data-bs-target="#pages" data-bs-toggle="collapse" class="sidebar-link">
        <i class="align-middle" data-lucide="layout"></i> <span class="align-middle">Pages</span>
    </a>
    <ul id="pages" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="pages-profile.html">Profile</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="pages-settings.html">Settings</a>
        </li>
        <li class="sidebar-item active">
            <a class="sidebar-link" href="pages-blank.html">Blank Page</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="users"></i> <span class="align-middle">Auth</span>
        <span class="badge badge-sidebar-secondary">Special</span>
    </a>
    <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-sign-in.html">Sign In</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-sign-in-cover.html">Sign In Cover</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-sign-up.html">Sign Up</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-sign-up-cover.html">Sign Up Cover</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-reset-password.html">Reset Password</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-reset-password-cover.html">Reset Password Cover</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-lock-screen.html">Lock Screen</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-lock-screen-cover.html">Lock Screen Cover</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-2fa.html">2FA</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-2fa-cover.html">2FA Cover</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-404.html">404 Page</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="auth-500.html">500 Page</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="landing.html" target="_blank">
        <i class="align-middle" data-lucide="layout-template"></i> <span class="align-middle">Landing</span>
        <span class="badge badge-sidebar-primary">New</span>
    </a>
</li>
<li class="sidebar-item">
    <a data-bs-target="#docs" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="book-open"></i> <span class="align-middle">Documentation</span>
    </a>
    <ul id="docs" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="docs-introduction.html">Introduction</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="docs-installation.html">Getting Started</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="docs-customization.html">Customization</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="docs-plugins.html">Plugins</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="docs-changelog.html">Changelog</a>
        </li>
    </ul>
</li>

<li class="sidebar-header">
    Tools & Components
</li>
<li class="sidebar-item">
    <a data-bs-target="#ui" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="grid"></i> <span class="align-middle">UI Elements</span>
    </a>
    <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-alerts.html">Alerts</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-buttons.html">Buttons</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-cards.html">Cards</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-carousel.html">Carousel</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-embed-video.html">Embed Video</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-general.html">General <span class="badge badge-sidebar-primary">10+</span></a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-grid.html">Grid</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-modals.html">Modals</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-offcanvas.html">Offcanvas</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-placeholders.html">Placeholders</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-tabs.html">Tabs</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="ui-typography.html">Typography</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#icons" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="heart"></i> <span class="align-middle">Icons</span>
        <span class="badge badge-sidebar-primary">1500+</span>
    </a>
    <ul id="icons" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="icons-lucide.html">Lucide</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="icons-font-awesome.html">Font Awesome</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#forms" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="check-square"></i> <span class="align-middle">Forms</span>
    </a>
    <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-layouts.html">Layouts</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-basic-inputs.html">Basic Inputs</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-input-groups.html">Input Groups</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-floating-labels.html">Floating Labels</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="tables.html">
        <i class="align-middle" data-lucide="list"></i> <span class="align-middle">Tables</span>
    </a>
</li>

<li class="sidebar-header">
    Plugins & Addons
</li>
<li class="sidebar-item">
    <a data-bs-target="#forms-plugins" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="check-square"></i> <span class="align-middle">Form Plugins</span>
    </a>
    <ul id="forms-plugins" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-advanced-inputs.html">Advanced Inputs</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-editors.html">Editors</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-validation.html">Validation</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="forms-wizard.html">Wizard</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#datatables" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="list"></i> <span class="align-middle">DataTables</span>
    </a>
    <ul id="datatables" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-responsive.html">Responsive Table</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-buttons.html">Table with Buttons</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-column-search.html">Column Search</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-fixed-header.html">Fixed Header</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-multi.html">Multi Selection</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="datatables-ajax.html">Ajax Sourced Data</a>
        </li>
    </ul>
</li>

<li class="sidebar-item">
    <a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="pie-chart"></i> <span class="align-middle">Charts</span>
        <span class="badge badge-sidebar-primary">New</span>
    </a>
    <ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="charts-chartjs.html">Chart.js</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="charts-apexcharts.html">ApexCharts <span class="badge badge-sidebar-primary">New</span></a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="notifications.html">
        <i class="align-middle" data-lucide="bell"></i> <span class="align-middle">Notifications</span>
    </a>
</li>
<li class="sidebar-item">
    <a data-bs-target="#maps" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="map-pin"></i> <span class="align-middle">Maps</span>
    </a>
    <ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a class="sidebar-link" href="maps-google.html">Google Maps</a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="maps-vector.html">Vector Maps</a>
        </li>
    </ul>
</li>
<li class="sidebar-item">
    <a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
        <i class="align-middle" data-lucide="share-2"></i> <span class="align-middle">Multi Level</span>
    </a>
    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
        <li class="sidebar-item">
            <a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link collapsed">
                Two Levels
            </a>
            <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a class="sidebar-link" data-bs-target="#">Item 1</a>
                    <a class="sidebar-link" data-bs-target="#">Item 2</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a data-bs-target="#multi-3" data-bs-toggle="collapse" class="sidebar-link collapsed">
                Three Levels
            </a>
            <ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a data-bs-target="#multi-3-1" data-bs-toggle="collapse" class="sidebar-link collapsed">
                        Item 1
                    </a>
                    <ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a class="sidebar-link" data-bs-target="#">Item 1</a>
                            <a class="sidebar-link" data-bs-target="#">Item 2</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" data-bs-target="#">Item 2</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
</ul>

@* Left bottom conor advertisement *@
<div class="sidebar-cta">
    <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Monthly Sales Report</strong>
        <div class="mb-3 text-sm">
            Your monthly sales report is ready for download!
        </div>

        <div class="d-grid">
            <a href="https://themes.getbootstrap.com/product/appstack-responsive-admin-template/" class="btn btn-primary" target="_blank">Download</a>
        </div>
    </div>
</div>
</div>
</nav>
<div class="main">
<nav class="navbar navbar-expand navbar-bg">

@* Hamberger button *@
<a class="sidebar-toggle">
    <i class="hamburger align-self-center"></i>
</a>

@* Search form *@
<form class="d-none d-sm-inline-block">
    <div class="input-group input-group-navbar">
        <input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
        <button class="btn" type="button">
            <i class="align-middle" data-lucide="search"></i>
        </button>
    </div>
</form>

<vc:mega-menu></vc:mega-menu>

<div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
        @* Message dropdown *@
        <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-bs-toggle="dropdown">
                <div class="position-relative">
                    <i class="align-middle text-body" data-lucide="message-circle"></i>
                    <span class="indicator">4</span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown">
                <div class="dropdown-menu-header">
                    <div class="position-relative">
                        4 New Messages
                    </div>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <img src="img/avatars/avatar-5.jpg" class="img-fluid rounded-circle" alt="Ashley Briggs" width="40" height="40">
                            </div>
                            <div class="col-10 ps-2">
                                <div>Ashley Briggs</div>
                                <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                                <div class="text-muted small mt-1">15m ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <img src="img/avatars/avatar-2.jpg" class="img-fluid rounded-circle" alt="Carl Jenkins" width="40" height="40">
                            </div>
                            <div class="col-10 ps-2">
                                <div>Carl Jenkins</div>
                                <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                                <div class="text-muted small mt-1">2h ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <img src="img/avatars/avatar-4.jpg" class="img-fluid rounded-circle" alt="Stacie Hall" width="40" height="40">
                            </div>
                            <div class="col-10 ps-2">
                                <div>Stacie Hall</div>
                                <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                                <div class="text-muted small mt-1">4h ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <img src="img/avatars/avatar-3.jpg" class="img-fluid rounded-circle" alt="Bertha Martin" width="40" height="40">
                            </div>
                            <div class="col-10 ps-2">
                                <div>Bertha Martin</div>
                                <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
                                <div class="text-muted small mt-1">5h ago</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dropdown-menu-footer">
                    <a href="#" class="text-muted">Show all messages</a>
                </div>
            </div>
        </li>
        @* Notification dropdown *@
        <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                <div class="position-relative">
                    <i class="align-middle text-body" data-lucide="bell-off"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                <div class="dropdown-menu-header">
                    4 New Notifications
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <i class="text-danger" data-lucide="alert-circle"></i>
                            </div>
                            <div class="col-10">
                                <div>Update completed</div>
                                <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
                                <div class="text-muted small mt-1">2h ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <i class="text-warning" data-lucide="bell"></i>
                            </div>
                            <div class="col-10">
                                <div>Lorem ipsum</div>
                                <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
                                <div class="text-muted small mt-1">6h ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <i class="text-primary" data-lucide="home"></i>
                            </div>
                            <div class="col-10">
                                <div>Login from 192.186.1.1</div>
                                <div class="text-muted small mt-1">8h ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="row g-0 align-items-center">
                            <div class="col-2">
                                <i class="text-success" data-lucide="user-plus"></i>
                            </div>
                            <div class="col-10">
                                <div>New connection</div>
                                <div class="text-muted small mt-1">Anna accepted your request.</div>
                                <div class="text-muted small mt-1">12h ago</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dropdown-menu-footer">
                    <a href="#" class="text-muted">Show all notifications</a>
                </div>
            </div>
        </li>
        @* Theme toggle *@
        <li class="nav-item nav-theme-toggle dropdown">
            <a class="nav-icon js-theme-toggle" href="#">
                <div class="position-relative">
                    <i class="align-middle text-body nav-theme-toggle-light" data-lucide="sun"></i>
                    <i class="align-middle text-body nav-theme-toggle-dark" data-lucide="moon"></i>
                </div>
            </a>
        </li>
        @* Language dropdown *@
        <li class="nav-item dropdown">
            <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
                <img src="img/flags/us.png" alt="English"/>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                <a class="dropdown-item" href="#">
                    <img src="img/flags/us.png" alt="English" width="20" class="align-middle me-1"/>
                    <span class="align-middle">English</span>
                </a>
                <a class="dropdown-item" href="#">
                    <img src="img/flags/es.png" alt="Spanish" width="20" class="align-middle me-1"/>
                    <span class="align-middle">Spanish</span>
                </a>
                <a class="dropdown-item" href="#">
                    <img src="img/flags/de.png" alt="German" width="20" class="align-middle me-1"/>
                    <span class="align-middle">German</span>
                </a>
                <a class="dropdown-item" href="#">
                    <img src="img/flags/nl.png" alt="Dutch" width="20" class="align-middle me-1"/>
                    <span class="align-middle">Dutch</span>
                </a>
            </div>
        </li>
        @* User dropdown *@
        <li class="nav-item dropdown">
            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                <i class="align-middle" data-lucide="settings"></i>
            </a>

            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <img src="img/avatars/avatar.jpg" class="img-fluid rounded-circle me-1 mt-n2 mb-n2" alt="Chris Wood" width="40" height="40"/> <span>Chris Wood</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-lucide="user"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-lucide="pie-chart"></i> Analytics</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="pages-settings.html">Settings & Privacy</a>
                <a class="dropdown-item" href="#">Help</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </li>
    </ul>
</div>
</nav>

<main class="content">
    <div class="container-fluid p-0">

        @RenderBody()


    </div>
</main>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Support</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Help Center</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Terms of Service</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 text-end">
                <p class="mb-0">
                    &copy; 2024 - <a href="index.html" class="text-muted">AppStack</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</div>
</div>

<script src="~/node_modules/aiur-ui-stack/js/app.js"></script>
<script type="module" src="~/node_modules/jquery-validation/dist/jquery.validate.min.js" defer></script>
<script type="module" src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" defer></script>
@(await RenderSectionAsync("scripts", false))

</body>

</html>