@model Aiursoft.UiStack.Layout.UiStackLayoutViewModel
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, Aiursoft.UiStack
}
<!DOCTYPE html>
<html lang="en"
      data-bs-theme="@Model.Theme.ToString().ToLower()"
      data-layout="@Model.Layout.ToString().ToLower()"
      data-sidebar-theme="@Model.SidebarTheme.ToString().ToLower()"
      data-sidebar-position="@Model.SidebarPosition.ToString().ToLower()"
      data-sidebar-behavior="@Model.SidebarBehavior.ToString().ToLower()">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="description" content="@Model.Description">
    }
    <title>@Model.PageTitle | @Model.AppName</title>
    @if (!string.IsNullOrWhiteSpace(Model.CanonicalUrl))
    {
        <link rel="canonical" href="@Model.CanonicalUrl">
    }
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/node_modules/aiur-ui-stack/css/app.css" rel="stylesheet">
    @(await RenderSectionAsync("styles", required: false))
</head>

<body>
<div class="wrapper">
@if (Model.Sidebar != null)
{
    <vc:sidebar model="@Model.Sidebar"></vc:sidebar>
}

<div class="main">
    @if (Model.Navbar != null)
    {
        <vc:navbar model="@Model.Navbar"></vc:navbar>
    }
    
    <main class="content">
        <div class="container-fluid p-0">
            @RenderBody()
        </div>
    </main>

    @if (Model.FooterMenu != null)
    {
        <vc:footer-menu model="@Model.FooterMenu"></vc:footer-menu>
    }
</div>
</div>

<script src="~/node_modules/aiur-ui-stack/js/app.js"></script>
<script type="module">
    import UtcTime from './node_modules/@@aiursoft/utctime.js/dist/esm/utctime.js'
    new UtcTime({})
</script>
<script type="module" src="~/node_modules/jquery-validation/dist/jquery.validate.min.js" defer></script>
<script type="module" src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" defer></script>
@(await RenderSectionAsync("scripts", false))

</body>

</html>